{
	admin :2019 {
		origins localhost
		enforce_origin
	}
	debug
	log default {
		output stdout
		# output file /var/caddy/log
		format console
		#format json
	}
#	on_demand_tls {
#		ask https://caddy-cert-check:443/ask
#	}
}

# caddy-cert-check {
# 	tls internal
# 	bind caddy-cert-check
# 	reverse_proxy caddy-cert-check:443
# }

# TODO https everywhere

:80 {
	redir https://{host}:8443{uri} permanent
}

:443 {
	tls internal {
		on_demand
	}
	handle /auth/* {
		uri strip_prefix /auth
		reverse_proxy auth-service:3001
	}
	handle /user/* {
		uri strip_prefix /user
		reverse_proxy user-management-service:3003
	}
	handle /api/db/* {
		uri strip_prefix /api/db
		reverse_proxy database-service:5000
	}
	handle /public/* {
        reverse_proxy database-service:5000
    }
	handle /chat/* {
		uri strip_prefix /chat
		reverse_proxy chat-service:3004
	}
	handle /kong/* {
		uri strip_prefix /kong
		reverse_proxy kong-service:3000
	}
#	handle /fm/* {
#		uri strip_prefix /fm
#		reverse_proxy file-management-service:5010
#	}
#	handle /tournament/* {
#		uri strip_prefix /tournament
#		reverse_proxy tournament-service:5003
#	}
#	handle /rmq/* {
#		uri strip_prefix /rmq
#		reverse_proxy rabbit-mq-service:5000
#	}
	handle {
		reverse_proxy frontend:3000
	}
}