@import "tailwindcss";

@layer base{
	:root {
		--violet-default: #6E3CA3;
		--background: #1A1A1A;
		--background-header: #141414;
		--select-header: #1C1C1C;
		--background-box: #2D2D2D;
		--background-select: #282828;
		--props: #939393;
		--change-theme: #D1D5DB;
		--white: #FFFFFF;
		--black: #000000;
		--background-header-light: #EFE0FF;
	}
}

/* body {
	animation:
		truc 3s ease-in 1s,
		bgrandom 3s ease-in 1s;
}

@keyframes truc {
	0% {
		transform: skew(0px, 0px);
	}
	25% {
		transform: skew(-150deg, -500deg);
	}
	50% {
		transform: skew(360deg, 1000deg);
	}
	75% {
		transform: skew(150deg, 500deg);
	}
	100% {
		transform: skew(0px, 0px);
	}
}

@keyframes bgrandom {
	0%   { background: red; }
	10%  { background: blue; }
	20%  { background: green; }
	30%  { background: purple; }
	40%  { background: linear-gradient(45deg, red, blue); }
	50%  { background: linear-gradient(90deg, yellow, pink); }
	60%  { background: black; }
	70%  { background: linear-gradient(135deg, cyan, magenta); }
	80%  { background: orange; }
	100% { background: linear-gradient(60deg, lime, purple); }
} */