@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rochester&display=swap');
@import '../node_modules/tailwindcss/index.css';

.coral-pixels-regular {
	font-family: 'Coral Pixels', serif;
	font-weight: 400;
	font-style: normal;
}

.rubik-doodle-triangles-regular {
  font-family: "Rubik Doodle Triangles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rochester-regular {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
	background-color: #1E1E1E;
	color: #6E3CA3;
}

img {
	width: 50px;
}

h1 {
	font-size: 50px;
	background-color: #141414;
}

p {
	font-size: 50px;
	color: white;
	margin-top: 41.5vh;
}

button {
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 17.5px;
	background: linear-gradient(90deg, #6E3CA3, #A82828);
	color: white;
}

/*
h1 {
	align-content: center;
	}
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	button {}*/